<h1> Welcome to Message-board </h1>

Find all your answers right here!

<ul>
  {{#each model.messages as |message|}}
    {{message-tile message=message}}
 {{/each}}
</ul>


{{new-message saveMessage2="saveMessage3"}}


<hr>

{{#link-to 'about'}}About{{/link-to}} <br>

{{#link-to 'contact'}}contact us{{/link-to}}
